.border{
    border: 1;
    border-color: black;
    border-width: 5px;
}
.items-center{
    margin-left:auto;
    margin-right:auto;
}
.border-spacing{
    border-spacing: 0px;
  }
  .text-center{
    text-align: center;
}
.bg-grey{
    background-color: #dddddd;
}

table{
    border: 2px solid black;
  }
.places{
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  td, th {
    height: 2em;
    width: 2em;
  }