.sexe{
    width: 150px;
    height: 75px;
}

h1{
    display: flex;
    justify-content: center;
    border-radius: 50px;
    background-color: skyblue;
    margin-left: 150px;
    margin-right: 150px;
}


.form{
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
        
   grid-area: 3/3/4/4;
}

.bouton{
    grid-area: 5/3/5/4;
}
.prenom{
    grid-area: 2/3/5/4;
}

.nom{
    grid-area: 1/3/5/4;
}
.sexe{
    grid-area: 3/3/3/4;
}

.date{
    grid-area: 4/3/5/4;
}