
.centered-element{
    margin-left: auto;
    margin-right: auto;
    background-image: url(https://i.notretemps.com/1400x787/smart/2022/05/14/impots13.jpg);
    padding: 250px;
    width: 120px;
    text-align: center;
    font-size: 35px;
    color: blanchedalmond;
    text-shadow: 4px 3px 0 rgb(41, 41, 41);
    border-radius: 8px;
}
button:hover {
    background-color: black ;
    color: blanchedalmond;
}
button {
    display: inline-block;
    padding: 0.5em 1.7em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgba(255, 255, 255, 0.774);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #443e3e;
    text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
    text-align: center;
    transition: all 0.2s;
}

body {
    background-color: rgb(71, 71, 71) ;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(75,75,75,1) 35%, rgba(107,107,107,1) 52%, rgba(139,139,139,1) 68%, rgba(195,195,195,1) 82%, rgba(255,255,255,1) 100%);  
}

