body {
    

    text-align: center;
    
}
.formulaire {
    text-align: center;
    padding-top: 10%;
    border: 2px solid black;
    height: 400px;
    background-image: url(../view/images/impot-15.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: xx-large;
    
}


#submit {
    border-radius: 50px;
    color: white;
    background-color: black;
}

#submit:hover {
    color: black;
    background-color: white;
}

#nom, #prenom {
    width: 10%;
    border-radius: 20px
}