.fond{
    background: linear-gradient(white,red);
     
}



.tableau{
    background-color: rgba(0, 13, 254, 0.402);
    border-radius: 5px ;
}

.tableau2{
    background-color: rgba(7, 255, 185, 0.349);
    border-radius: 5px ;  
}

.tableau3{
    background-color: rgba(255, 7, 7, 0.401);
    border-radius: 5px;
    
}

.tableau4{
    background-color: rgba(32, 255, 7, 0.399);
    border-radius: 5px ;  
}


.conteneur{
    border-radius: 50px;
    display: flex;
    flex-wrap : wrap;
    justify-content: space-around;
    padding-top: 150px;
    padding-bottom: 150px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 75px;
    background-color: rgba(255, 255, 255, 0.622);
}

h1{
    margin-left: 250px;
    margin-right: 250px;
    background-color: rgba(4, 4, 4, 0.782);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    color : white;
}

.btn{
    
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.butn{
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.593);
}




