body{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    margin: 50px;
    width: fit-content;
    background: rgb(177, 228, 211);
}
.parent {
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}

.div1 {
    grid-area: 2 / 4 / 3 / 6;
    display: flex;
    align-items: stretch;
    padding: 50px;
    border: 1px solid rgb(142, 114, 95);
    box-shadow: rgb(235, 144, 78) 2px 1.5px 5px;
    border-radius: 10px;
    font-family: sans-serif;
    background-image: url("table_prof.jpg"),radial-gradient(#fff,rgba(255, 255, 255, 0.976), transparent) ;
    background-size: 60%, 100%;
    background-repeat: no-repeat;
    background-position:left bottom;
    font-weight: bolder;
}

.div2 {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: sans-serif;
    background-image: url("table_stag.jpg"), radial-gradient(#fff,rgba(255, 255, 255, 0.976), transparent) ;
    background-size: 30%, 100%;
    background-repeat: no-repeat;
    border: 1px solid rgb(142, 114, 95);
    box-shadow: rgb(235, 144, 78) 2px 1.5px 5px;
}

.div3 {
    grid-area: 4 / 2 / 5 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: sans-serif;
    background-image: url("table_stag.jpg"), radial-gradient(#fff,rgba(255, 255, 255, 0.976), transparent) ;
    background-size: 30%, 100%;
    background-repeat: no-repeat;
    border: 1px solid rgb(142, 114, 95);
    box-shadow: rgb(235, 144, 78) 2px 1.5px 5px;
}

.div4 {
    grid-area: 5 / 2 / 6 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: sans-serif;
    background-image: url("table_stag.jpg"), radial-gradient(#fff,rgba(255, 255, 255, 0.976), transparent) ;
    background-size: 30%, 100%;
    background-repeat: no-repeat;
    border: 1px solid rgb(142, 114, 95);
    box-shadow: rgb(235, 144, 78) 2px 1.5px 5px;
}

.div5 {
    grid-area: 4 / 1 / 5 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: sans-serif;
    background-image: url("table_stag.jpg"), radial-gradient(#fff,rgba(255, 255, 255, 0.976), transparent) ;
    background-size: 30%, 100%;
    background-repeat: no-repeat;
    border: 1px solid rgb(142, 114, 95);
    box-shadow: rgb(235, 144, 78) 2px 1.5px 5px;
}

.div6 {
    grid-area: 7 / 3 / 8 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: sans-serif;
    background-image: url("table_stag.jpg"), radial-gradient(#fff,rgba(255, 255, 255, 0.976), transparent) ;
    background-size: 30%, 100%;
    background-repeat: no-repeat;
    border: 1px solid rgb(142, 114, 95);
    box-shadow: rgb(235, 144, 78) 2px 1.5px 5px;
}

.div7 {
    grid-area: 8 / 3 / 9 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: sans-serif;
    background-image: url("table_stag.jpg"), radial-gradient(#fff,rgba(255, 255, 255, 0.976), transparent) ;
    background-size: 30%, 100%;
    background-repeat: no-repeat;
    border: 1px solid rgb(142, 114, 95);
    box-shadow: rgb(235, 144, 78) 2px 1.5px 5px;
}

.div8 {
    grid-area: 8 / 4 / 9 / 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: sans-serif;
    background-image: url("table_stag.jpg"), radial-gradient(#fff,rgba(255, 255, 255, 0.976), transparent) ;
    background-size: 30%, 100%;
    background-repeat: no-repeat;
    border: 1px solid rgb(142, 114, 95);
    box-shadow: rgb(235, 144, 78) 2px 1.5px 5px;
}

.div9 {
    grid-area: 7 / 4 / 8 / 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: sans-serif;
    background-image: url("table_stag.jpg"), radial-gradient(#fff,rgba(255, 255, 255, 0.976), transparent) ;
    background-size: 30%, 100%;
    background-repeat: no-repeat;
    border: 1px solid rgb(142, 114, 95);
    box-shadow: rgb(235, 144, 78) 2px 1.5px 5px;
}

.div10 {
    grid-area: 7 / 6 / 8 / 7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: sans-serif;
    background-image: url("table_stag.jpg"), radial-gradient(#fff,rgba(255, 255, 255, 0.976), transparent) ;
    background-size: 30%, 100%;
    background-repeat: no-repeat;
    border: 1px solid rgb(142, 114, 95);
    box-shadow: rgb(235, 144, 78) 2px 1.5px 5px;
}

.div11 {
    grid-area: 8 / 6 / 9 / 7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: sans-serif;
    background-image: url("table_stag.jpg"), radial-gradient(#fff,rgba(255, 255, 255, 0.976), transparent) ;
    background-size: 30%, 100%;
    background-repeat: no-repeat;
    border: 1px solid rgb(142, 114, 95);
    box-shadow: rgb(235, 144, 78) 2px 1.5px 5px;
}

.div12 {
    grid-area: 8 / 7 / 9 / 8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: sans-serif;
    background-image: url("table_stag.jpg"), radial-gradient(#fff,rgba(255, 255, 255, 0.976), transparent) ;
    background-size: 30%, 100%;
    background-repeat: no-repeat;
    border: 1px solid rgb(142, 114, 95);
    box-shadow: rgb(235, 144, 78) 2px 1.5px 5px;
}

.div13 {
    grid-area: 7 / 7 / 8 / 8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: sans-serif;
    background-image: url("table_stag.jpg"), radial-gradient(#fff,rgba(255, 255, 255, 0.976), transparent) ;
    background-size: 30%, 100%;
    background-repeat: no-repeat;
    border: 1px solid rgb(142, 114, 95);
    box-shadow: rgb(235, 144, 78) 2px 1.5px 5px;
}

.div14 {
    grid-area: 3 / 7 / 4 / 8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: sans-serif;
    background-image: url("table_stag.jpg"), radial-gradient(#fff,rgba(255, 255, 255, 0.976), transparent) ;
    background-size: 30%, 100%;
    background-repeat: no-repeat;
    border: 1px solid rgb(142, 114, 95);
    box-shadow: rgb(235, 144, 78) 2px 1.5px 5px;
}

.div15 {
    grid-area: 4 / 7 / 5 / 8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: sans-serif;
    background-image: url("table_stag.jpg"), radial-gradient(#fff,rgba(255, 255, 255, 0.976), transparent) ;
    background-size: 30%, 100%;
    background-repeat: no-repeat;
    border: 1px solid rgb(142, 114, 95);
    box-shadow: rgb(235, 144, 78) 2px 1.5px 5px;
}

.div16 {
    grid-area: 5 / 7 / 6 / 8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: sans-serif;
    background-image: url("table_stag.jpg"), radial-gradient(#fff,rgba(255, 255, 255, 0.976), transparent) ;
    background-size: 30%, 100%;
    background-repeat: no-repeat;
    border: 1px solid rgb(142, 114, 95);
    box-shadow: rgb(235, 144, 78) 2px 1.5px 5px;
}

.div17 {
    grid-area: 4 / 8 / 5 / 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: sans-serif;
    background-image: url("table_stag.jpg"), radial-gradient(#fff,rgba(255, 255, 255, 0.976), transparent) ;
    background-size: 30%, 100%;
    background-repeat: no-repeat;
    border: 1px solid rgb(142, 114, 95);
    box-shadow: rgb(235, 144, 78) 2px 1.5px 5px;
}

#places {

    font-weight: bolder;
    color: rgb(233, 31, 71);
}

input{
    padding: 10px;
    border-radius:5px 2px;
    border: 1px rgb(195, 173, 173);
    background-color: rgb(251, 172, 107);
}

input:hover{
    border: 2px rgb(159, 127, 127);
    box-shadow: 2px 1px rgb(159, 127, 127) ;
    background-color: rgb(193, 125, 94); 
    cursor: pointer;
}
form {
    display:flex;
    justify-items: left;
    justify-items: left;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    flex-wrap: nowrap;
}