.btn {
    margin-left: 38%;
    margin-top: 15%;
}

.inputbtn {
    width: 500px;
    height: 500px;
    background-color: red;
    color: white;
    font-size: 20px;
    box-shadow: 10px 10px 10px grey;
    border-radius: 50%;
}

.inputbtn:hover {
    background-color: rgba(255, 0, 0, 0.456);
}

.inputbtn {
    width: 400px;
    height: 400px;
    background-color: #ff0000;
    animation: spin 10s infinite;
  }

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}