body {
    background: fixed;
    background-color: #556b91;
    background-image: linear-gradient(120deg, #030099b9 0%, #ff0101f3 100%);

}


#parent {
margin: 10%;
display: grid;
grid-template-columns: repeat(5, 2fr);
grid-template-rows: repeat(5, 2fr);
grid-column-gap: 25px;
grid-row-gap: 10px;
border: solid;
border-radius: 15px;
padding: 1%;
background-color: rgba(255, 255, 255, 0.822);
box-shadow: 5px 5px 15px rgb(255, 255, 255);
}

.div1 { grid-area: 2 / 2 / 5 / 5; }

.div2 { grid-area: 1 / 1 / 3 / 6; 
    background-color: rgba(128, 128, 128, 0.425);
    border-radius: 10px;
}

.div3 { grid-area: 3 / 1 / 3 / 6; 
    background-color: rgba(128, 128, 128, 0.425);
    border-radius: 10px;
    padding: 1%;
}

.div4 { grid-area: 4 / 1 / 5 / 6; 
    background-color: rgba(128, 128, 128, 0.425);
    border-radius: 10px;
    padding: 1%;
}

.div5 { grid-area: 5 / 5 / 5 / 5; 
padding: 5%;
}

label { 
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.info {
    padding: 1%;
}

.info1{
    margin-right: 1%;
}

button {
    width: 100%;
    border: medium;
    border-radius: 15px;
    box-shadow: 3px 3px 3px ;
}
button:hover {
    background-color: rgb(145, 138, 138);
}

h1{
    font-size: 50px;
    display: flex;
    justify-content: center;
}

input{
    border-radius: 5px;
    box-shadow: 2px 2px 2px;
}
