{% extends 'base.html.twig' %}

{% block title %}Modification Utilisateur{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-4">Modification de mot de passe</h1>
        {% for message in app.flashes('error') %}
            <div class="text-center alert alert-dismissible  alert-danger mt-4">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
        <form class="form" action="{{ path('user.edit.pass', { id: currentUser.id }) }}" method="post">
            <div class="form-group">
                <label for="plainPassword" class="form-label">Ancien mot de passe*</label>
                <input class="form-control" type="password" name="plainPassword" id="plainPassword">
            </div>
            <div class="form-group">
                <label for="password" class="form-label">Nouveau mot de passe*</label>
                <input class="form-control" type="password" name="password" id="password">
            </div>

            <div class="form-group">
                <label for="passwordVerify" class="form-label">Confirmer le nouveau mot de passe</label>
                <input class="form-control" type="password" name="passwordVerify" id="passwordVerify">
            </div>

            <div class="form-group d-flex justify-content-center">
                <input type="submit" class="btn btn-success" value="Valider">
            </div>
        </form>
    </div>
{% endblock %}
