body{
    margin: 0;
    background: deepskyblue repeat;

}

/*NAVBAR / HAUT DE PAGE */
header{
    background-color: #243064;
    height: 5.5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1{
    text-align: center;
    color: #F5F7F9;
}

.iconNav{
    display: flex;
    align-items: center;
}

.divAcceuil{
    margin-right: 1em;
}

.iconeNav{

    color: rgb(253, 253, 253);
}
.iconeNav:hover{
    color: rgba(190, 190, 190, 0.35);
}

.icone{

    color: rgb(47, 79, 161);
}
.icone:hover{
    color: rgba(37, 58, 124, 0.35);
}



/* Contenue */
.parent {
    margin-top: 1em;
    display: grid;
    grid-template-columns:1fr 1fr 0.5fr 1.5fr;
    grid-template-rows: 1fr 0.5fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    ". icone1 . icone2"
    ". . . ."
    ". icone3 . icone4";
}
.icone1 { grid-area: icone1; }
.icone3 { grid-area: icone3; }
.icone2 { grid-area: icone2; }
.icone4 { grid-area: icone4; }


.parent2 {
    margin-top: 1em;
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    ". . . "
    ". form . "
    ". . . ";
}
.formInsert {
    grid-area: form;
}

table{
    margin-top: 1.5em;
}
.contenue{
    display: flex;
    justify-content: space-around;
    margin-top:15em;
    flex-wrap: wrap;
}

.labelIcons{
    font-weight: bold;
    margin-left: 1em;
    font-size: 2em;
    margin-top: 1em;
}

.nom-pre{
    width: 20em !important;
    height: 1em !important;
}

.form-nom-pre{
    display: revert !important;
    height: 1.8em !important;
}

.divButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}
.selectAll{
    margin-left: 1em;
}

.divFlex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.btnSize{
    height: 1.8em !important;
}