{% extends "base.html.twig" %}

{% block title %}
Accueil
{% endblock %}

{% block body %}
<div class="container">
	<div class="jumbotron">
		<h1 class="display-4">Bienvenue</h1>
		<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ad odit autem distinctio
			veritatis
			fugiat veniam ut quaerat voluptates libero vel excepturi voluptatum, at esse nemo, beatae maiores. Harum,
			repellat!</p>
		<hr class="my-4">
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde minus error odit sequi ab perspiciatis
			blanditiis
			voluptatum sunt totam quis ad ipsa fuga vel, consequuntur ea explicabo suscipit magni dolore?</p>
		<p class="lead">
			<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
		</p>
	</div>
</div>


{% endblock %}