

.inputbtn {
  box-shadow: 10px 10px 10px grey;
  border-radius: 50%;    
  width: 400px;
  height: 400px;
  background-color: #ff0000;
  animation: spin 10s infinite;
  margin-left: 37%;

}

.inputbtn:hover {
    background-color: rgba(255, 0, 0, 0.456);
}


@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}


.submit{
  width: 100px;
  margin-top: 10%;
  margin-left: 46%;
  background: rgba(0, 0, 0, 0.274);
  border: solid;
  rotate: none;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 5px 5px 5px;
}

.submit:hover {
background-color: rgba(253, 253, 253, 0.452);

}
.file {
  margin-top:10%;
  rotate: none;
}