.h1{
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
}


.formulaire{   
   text-align: center;
}

.button{
    padding-top: 50px;
    text-align: center;
}
.container{
    padding-bottom: 50px;
    padding-top: 50px;
    margin-top: 150px;
    margin-left: 650px;
    margin-right: 650px;
    border: solid;
    background-color: whitesmoke;
}
body{
    background-color: rgba(101, 101, 101, 0.598);
}