body {
    background-image: url("../view/image/AS.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.parent {
    display: grid;
    grid-template-columns: repeat(9, 0.54fr);
    grid-template-rows: repeat(12, 0.54fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.enregistre{
    grid-area: 12 / 7 / 11 / 6;
}

.div1 {
    grid-area: 1 / 4 / 2 / 7;
}

.div2 {
    grid-area: 5 / 5 / 6 / 6;
}

.div3 {
    grid-area: 3 / 1 / 5 / 3;
}

.div4 {
    grid-area: 7 / 1 / 9 / 3;
}

.div5 {
    grid-area: 7 / 8 / 9 / 10;
}

.div6 {
    grid-area: 3 / 8 / 5 / 10;
}

.div7 {
    grid-area: 3 / 1 / 4 / 2;
}

.div8 {
    grid-area: 3 / 2 / 4 / 3;
}

.div9 {
    grid-area: 4 / 2 / 5 / 3;
}

.div10 {
    grid-area: 4 / 1 / 5 / 2;
}

.div11 {
    grid-area: 7 / 1 / 8 / 2;
}

.div12 {
    grid-area: 7 / 2 / 8 / 3;
}

.div13 {
    grid-area: 8 / 2 / 9 / 3;
}

.div14 {
    grid-area: 8 / 1 / 9 / 2;
}

.div15 {
    grid-area: 3 / 8 / 4 / 9;
}

.div16 {
    grid-area: 3 / 9 / 4 / 10;
}

.div17 {
    grid-area: 4 / 9 / 5 / 10;
}

.div18 {
    grid-area: 4 / 8 / 5 / 9;
}

.div19 {
    grid-area: 7 / 8 / 8 / 9;
}

.div20 {
    grid-area: 7 / 9 / 8 / 10;
}

.div21 {
    grid-area: 8 / 9 / 9 / 10;
}

.div22 {
    grid-area: 8 / 8 / 9 / 9;
}

.btn {
    font-family: fantasy;
    background-color: black;
    color: rgb(240, 204, 22);
    border: 2px dashed rgb(248, 227, 30);
    box-shadow: 5px 5px 5px;
    border-radius: 370px;
    width: 150px;
    height: 150px; 
}


.div1 {
    text-align: center;
    font-family: fantasy;
    background-color: black;
    color: rgb(248, 227, 30);
    border-radius: 370px;
    border: 2px dashed rgb(248, 227, 30);
  border-radius: 370px;
}

.div2 {
    text-align: center;
    font-family: fantasy;
}

.div3 {
    text-align: center;
    font-family: fantasy;
    background-color: black;
    color: rgb(248, 227, 30);
    border-radius: 370px;
    border: 2px dashed rgb(248, 227, 30);
    box-shadow: 5px 5px 5px;
}

.div4 {
    text-align: center;
    font-family: fantasy;
    background-color: black;
    color: rgb(248, 227, 30);
    border-radius: 370px;
    border: 2px dashed rgb(248, 227, 30);
    box-shadow: 5px 5px 5px;
}

.div5 {
    text-align: center;
    font-family: fantasy;
    background-color: black;
    color: rgb(248, 227, 30);
    border-radius: 370px;
    border: 2px dashed rgb(248, 227, 30);
    box-shadow: 5px 5px 5px;
}

.div6 {
    text-align: center;
    font-family: fantasy;
    background-color: black;
    color: rgb(248, 227, 30);
    border-radius: 370px;
    border: 2px dashed rgb(248, 227, 30);
    box-shadow: 5px 5px 5px;
}

.div7 {
    padding-top: 10%;
}

.div11 {
    padding-top: 10%;
}

.div15 {
    padding-top: 10%;
}

.div19 {
    padding-top: 10%;
}

.btn:hover { 
    text-align: center;
    font-family: fantasy;
    background-color:rgb(248, 227, 30);
    color: black;
    border-radius: 370px;
    border: 2px dashed black; 
}

.div1:hover { 
    text-align: center;
    font-family: fantasy;
    background-color:rgb(248, 227, 30);
    color: black;
    border-radius: 370px;
    border: 2px dashed black; 
}

.div3:hover { 
    text-align: center;
    font-family: fantasy;
    background-color:rgb(248, 227, 30);
    color: black;
    border-radius: 370px;
    border: 2px dashed black; 
}

.div4:hover { 
    text-align: center;
    font-family: fantasy;
    background-color:rgb(248, 227, 30);
    color: black;
    border-radius: 370px;
    border: 2px dashed black; 
}

.div5:hover { 
    text-align: center;
    font-family: fantasy;
    background-color:rgb(248, 227, 30);
    color: black;
    border-radius: 370px;
    border: 2px dashed black; 
}

.div6:hover { 
    text-align: center;
    font-family: fantasy;
    background-color:rgb(248, 227, 30);
    color: black;
    border-radius: 370px;
    border: 2px dashed black; 
}

