
.container {
    display: grid; 
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px; 
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px; 
    gap: 5px 5px; 
    grid-template-areas: 
      ". Moussa Moussa . . . . . . Décal Décal . . ."
      ". . . . . . . . . . . . . ."
      ". place-1 place-2 . . Pic-nic Pic-nic Pic-nic . . place-16 place-15 . ."
      ". place-3 place-4 . . Pic-nic Pic-nic Pic-nic . . place-13 place-14 . ."
      ". . . . . . . . . . . . . ."
      ". . . place-5 place-7 . . . . place-9 place-11 . . ."
      ". . . place-6 place-8 . . . . place-10 place-12 . . ."
      ". . . . . . . . . . . . . ."; 
    
    text-align: center;
     font-size: 25px;

  }


  .place-1 { grid-area: place-1; background-color:firebrick; color: blanchedalmond; }
  .place-2 { grid-area: place-2; background-color: blanchedalmond; color: firebrick }
  .place-3 { grid-area: place-3;background-color: blanchedalmond; color: firebrick}
  .place-4 { grid-area: place-4;background-color: firebrick; color: blanchedalmond; }
  .Moussa { grid-area: Moussa; background-color: darkcyan; color: white;}
  .Décal { grid-area: Décal; }
    input {border-radius: 5px;
        
    width: 300px;
height: 100px;
font-size: 50px;
background-color: deeppink;
color: blanchedalmond;
border-radius: 12px;}
input:hover {
    background-color: blanchedalmond;
        color: deeppink;      
        animation-duration: 2s;
}
  .Pic-nic { grid-area: Pic-nic;}
    img {width: 300px;}
  .place-5 { grid-area: place-5;background-color:firebrick; color: blanchedalmond; }
  .place-6 { grid-area: place-6; background-color: blanchedalmond; color: firebrick}
  .place-7 { grid-area: place-7; background-color: blanchedalmond; color: firebrick}
  .place-8 { grid-area: place-8;background-color:firebrick; color: blanchedalmond; }
  .place-9 { grid-area: place-9; background-color:firebrick; color: blanchedalmond;}
  .place-10 { grid-area: place-10; background-color: blanchedalmond; color: firebrick}
  .place-11 { grid-area: place-11; background-color: blanchedalmond; color: firebrick}
  .place-12 { grid-area: place-12; background-color:firebrick; color: blanchedalmond;}
  .place-13 { grid-area: place-13; background-color:firebrick; color: blanchedalmond;}
  .place-14 { grid-area: place-14; background-color: blanchedalmond; color: firebrick}
  .place-15 { grid-area: place-15; background-color:  firebrick; color: blanchedalmond;  }
  .place-16 { grid-area: place-16;background-color:blanchedalmond; color: firebrick}
   
