.logo {
    background-image: url('../img/header.jpg');
    display: flex;   
    padding-bottom : 165px;
    margin-left: 25%;
    margin-right: 45%;       
  }

.win {
    background: url('https://media.tenor.com/0qjLDP4pytIAAAAd/jackpot-fruit-machine.gif');   
    padding-bottom : 330px;
    margin-left: 35px;
    margin-right: 35px;
  }
.taille {
    font-size: 3em;
    text-align: center ;
  }