<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>Document</title>
</head>

<body>
<div class = placement>
<div class = "insert">
    <form action= "../view/insert.php" methode="get">
        <input type = "submit" value="insert">
    </form>
</div>
<div class = "select">
    <form action= "../Controller/executeSelect.php" methode="get">
        <input type = "submit" value="select">
    </form>
</div>
<div class = "update">
    <form action= "../Controller/excuteUpdate.php" methode="get">
        <input type = "submit" value="update">
    </form>
</div>
<div class = "delete">
    <form action= "../Controller/executeDelete.php" methode="get">
        <input type = "submit" value="delete">
    </form>   
</div>
</div>
   

</body>
</html>