.icon {
    width: 150px;
    height: 100px;
}

.ligneicon {
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
}

.case{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 150%;
    text-decoration: none;
    color: rgb(255, 167, 4);
}

header{
    background-color: black;
    color:white;
    padding: 25px;
    display: flex;
    justify-content: center;
}

body{
    background-image: url(SGBD-base-de-données.jpg);
}
