
body {
    text-align: center;
}

.all{
    display: inline-block
}


h1 {
    color: aliceblue;
    text-align: center;
}
body {
    background-color: #330000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2363BCFF'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.boutons {
    padding-top: 100px;
    text-align: center;
    color: black;
}

button {
    border-radius: 10px;
    height: 50px;
    background-color: dodgerblue;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#bouton1 {
    background-color: khaki;
}

#bouton1:hover {
    background-color: green;
}

#bouton2 {
    background-color: cornflowerblue;
}

#bouton2:hover {
    background-color: royalblue;
}

#bouton3 {
    background-color: chocolate;
}

#bouton3:hover {
    background-color: darkorange;
}

#bouton4 {
    background-color: crimson;
}


#bouton4:hover {
    background-color: red;
}
button:hover {
    background-color: royalblue;
}

table {
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
    margin: auto;
}

td {
    width : 300px;
    height: 20px;
    border: 1px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: midnightblue;
    font-variant: small-caps;
}

th {
    background-color: cornflowerblue;
    width : 600px;
    height: 20px;
    border: 1px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: midnightblue ;
}

input {
    border-radius: 10px;
    height: 30px;
    background-color: aliceblue;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}