
.block  {
    height: 400px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-left: 40%;
    border-color: rgb(34, 34, 85) ;
    border-width: 10px solid;
    background-color: mediumslateblue;
    border-block: 5px solid rgb(34, 34, 85);
  writing-mode: horizontal-tb;
}

body {
  background-color: black;
}

input {
    margin-left: 5%;
    margin-bottom: 15px;
}    
    
    
    #logo {
background-position:center;

width: 50px;
height:50px;}


.button {
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(34, 34, 85);
    border: none;
    color: azure;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }