@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
/* Nave Barre */
.fa-2x {
  font-size: 4em;
  color: rgb(251, 201, 2);
}
.fa {
  position: relative;
  display: table-cell;
  width: 100px;
  height: 70px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  padding-right: 30px;
}

.main-menu:hover,
nav.main-menu.expanded {
  width: 250px;
  overflow: visible;
}

.main-menu {
  background: #212121;
  border-right: 1px solid #e5e5e5;
  position:fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 60px;
  overflow: hidden;
  -webkit-transition: width 0.05s linear;
  transition: width 0.05s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
 
}

.main-menu > ul {
  margin: 7px 0;
}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;
}

.main-menu li > a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #999;
  font-family: arial;
  font-size: 14px;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: "Titillium Web", sans-serif;
}

.main-menu > ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover,
a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}
.main-menu li:hover > a,
nav.main-menu li.active > a,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: #fff;
  background-color: #000000;
}
.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 300;
  src: local("Titillium WebLight"), local("TitilliumWeb-Light"),
    url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff)
      format("woff");
}
/* PAGE INDEXE--------------------------------------------------------- */
/* separation  */
body {
  background-image: url(page\ de\ garde.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#container {
  
 padding: 20px;

}
#separt {
  padding: 5%;
  height: 100%;
}
#page {
  margin-left: 5%;
  display: flex;
  justify-items: stretch;
  padding: 100px;
  background-color: rgba(0, 0, 0, 0.469);
  transition: all, 1s;
  border: none;
  border-radius: 10px;
  color: #e5e5e5;
}
#search {
  width: 90%;
  border: transparent;
  border-radius: 10px;
  padding: 5px;
  margin-top: 5px;
  background-color: rgba(254, 203, 0, 0.341);
}

#parag > i {
  width: 70%;
}
/* PAGE INSERT -------------------------------------------------- */
#page2 {
  margin-left: 5%;
  background-color: rgba(61, 50, 14, 0.568);
  padding: 10%;
  width: 100%;
  transition: all, 1s;
  border: none;
  border-radius: 10px;
}
#page2:hover {
  background-color: rgba(250, 194, 10, 0.469);
  transition: all, 1.5s;
}
.form {
  display: flex;
  flex-direction: column;
   font-size: larger;
  font-weight: bolder;
  color: rgb(70, 52, 5);
  margin-right: 10px;
 
}

.form > input,
select,
option {
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}

.button > button {
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 15px;
}

button:hover {
  box-shadow: 2px 3px 10px rgb(146, 146, 21);
  margin-left: 5px;
  transition: all, 1s;
}

.res {
  visibility: hidden;
  padding: 10px;
}
.resv{
  color: rgb(251, 143, 2);
  text-shadow: -2px 1px #212121;
  visibility: visible;
  padding: 10px;
}
/* page SELECT --------------------------------------------- */
#page3 {
  margin-left: 5%;
  display: flex;
  background-color: rgba(97, 88, 75, 0.469);
  border: none;
  border-radius: 10px;
  transition: all, 1.5s;

}

#page3:hover {
  background-color: rgba(196, 152, 8, 0.356);
  transition: all, 1s;
}
#tab {
  width: 100%;
}

.table > th,
td {
  color: rgb(251, 201, 2);
  font-weight: bolder;
  text-shadow: 1px 2px rgb(53, 52, 52);
  transition: all, 0.5s;
}

td:hover {
  color: rgb(46, 32, 3);
  text-shadow: 1px 2px 10px rgb(251, 201, 2);
  transition: all, 0.5s;
  cursor: pointer;
}

/* UpdatePage/delete ----------------------------------------  */
#page4 {
  margin-left: 5%;
  display: block;
  /* width:fit-content; */
  background-color: rgba(55, 59, 55, 0.555);
  padding: 10%;
  border: none;
  border-radius: 10px;
  transition: all, 1s;
}
#page4:hover {
  background-color: rgba(119, 62, 8, 0.712);
  transition: all, 1.5s;
}
.update{
  display: flex;
  flex-direction: column;
  
}

.update > input {
  font-weight: bold;
  border: none;
  border-radius: 6px;
  padding: 5px;
}
.update > label {
  font-weight: bolder;
  color:rgb(251, 201, 2);
  text-shadow: 1px 10px 10px #212121;
}
