body {
  background-color: #00DBDE;
  background-image: linear-gradient(294deg, #00DBDE 0%, #FC00FF 100%);   
  }

    
    .placement{
      display: flex;
      justify-content: center;
    }
  
    ...table {
        border-collapse:collapse;
        width:90%;
        background-color: blueviolet;
        justify-content: center;
        }
       th, td {
        border:1px solid black;
        width:20%;
        }
       td {
        text-align:center;
        }