body {
    background-color: silver;
}



.tableau{
    
    
    display: inline-block
}

.bouton {
    text-align: center;
    padding-top: 7%;
    
}

input {

    border-radius: 20px;
    height: 100px;
    background-image: url("bois2.png");
    color: white;
    font-size: x-large;
    box-shadow: 5px 5px 5px pink;
    
}

input:hover {
    background-image: url("bois.png");
}





.table1, .table2, .table3, .table4 {


margin-top: 2%;
border: 1px solid black;
border-radius: 20px;
width: 500px;
height: 150px;
text-align: center;
display: flex;
justify-content: space-around;
background-image: url("bois3.png");
color: white;
align-items: center;
font-size: x-large;

}




.table1, .table3 {
    margin-left: 150%;
    background-image: url("bois4.png");
    color: white;
}

.table2, .table4 {
    margin-left: 25%;
    background-image: url("bois4.png");
}



.bouton2 {
    text-align: center;
}