{% extends 'base.html.twig' %}

    {% block body %}
    
        <div
            class="container">
    
            {# read and display just one flash message type #}
            
    
            <h1>Modification de l'ingrédient</h1>
    
           
    
            {{form(form)}}
    
            </div>
    
        {% endblock %}