{% extends 'base.html.twig' %}

{% block body %}

	<div
		class="container">

		{# read and display just one flash message type #}
		

		<h1>Création d'un ingrédient</h1>

       

		{{form(form)}}

		</div>

	{% endblock %}
